{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>Password Reset | Ghorer Khabar</title>
{% endblock title %}


{% block body_content %}
<div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-3 bg-image"></div>
    <div class="col-md-8 col-lg-6">
       <div class="login d-flex align-items-center py-5">
          <div class="container">
             <div class="row">
                <div class="col-md-9 col-lg-8 mx-auto pl-5 pr-5">

                  {% if messages %}
                  {% for messages in messages %}
                  <div class="alert alert-{{messages.tags}} alert-dismissible fade show" role="alert">
                     <strong>Dear User!</strong> {{messages}}
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">×</span>
                     </button>
                  </div>
                  {% endfor %}
                  {% endif %}


                   <h3 class="login-heading mb-4">Password Reset!</h3>
                   <form action="{% url 'password_reset_confirm' %}" method="POST" novalidate>
                     {% csrf_token %}
                      <div class="form-label-group">
                         <input type="email" value="{{email}}" class="form-control" name="email" id="inputEmail" readonly>
                         <label for="inputEmail">Email address</label>
                      </div>
                      <div class="form-label-group">
                         <input type="text" class="form-control" id="inputOTP" name="otp">
                         <label for="inputOTP">OTP</label>
                      </div>
                      <div class="form-label-group">
                         <input type="password" class="form-control" id="inputNewPassword" name="new_password">
                         <label for="inputNewPassword">New Password</label>
                      </div>
                      <button type="submit" class="btn btn-lg btn-outline-primary btn-block btn-login text-uppercase font-weight-bold mb-2">Reset Password</button>
                      <div class="text-center pt-3">
                         Don’t have an account? 
                         <a class="font-weight-bold" href="{% url 'registration' %}">Sign Up</a>
                      </div>
                      <div class="text-center pt-3">
                        Already have an Account? <a class="font-weight-bold" href="{% url 'login' %}">Sign In</a>
                     </div>
                   </form>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="d-none d-md-flex col-md-4 col-lg-3 bg-image"></div>
 </div>
{% endblock body_content %}


