{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>Home | Ghorer Khabar</title>
{% endblock title %}


{% block body_content %}
<section class="pt-5 pb-5 homepage-search-block position-relative">
    <div class="banner-overlay"></div>
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-6">
                <div class="homepage-search-title">
                    <h3 class="mb-2 font-weight-normal"><span class="font-weight-bold">Delivery Awesome Deals</span> in
                        Bangladesh</h3>
                </div>
                <div class="homepage-search-form">
                    <form class="form-noborder" action="{% url 'tracking_order' %}" method="GET">
                        <div class="form-row">
                            <div class="col-lg-9 col-md-9 col-sm-12 form-group">
                                <input type="text" placeholder="Enter your tracking id"
                                    class="form-control form-control-lg" name="tracking_id">
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 form-group">
                                <button type="submit" class="btn btn-primary btn-block btn-lg btn-gradient">Tracking</button>
                            </div>
                        </div>
                    </form>
                </div>


                <div class="container">
                    <div class="section-header text-center white-text">
                        <h2>Become a Member</h2>
                        <p>Register to have your parcel delivered!</p>
                        <span class="line"></span>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <a href="{% url 'registration' %}" class="btn btn-success btn-lg">
                                Create an Account <i class="fa fa-chevron-circle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            

            {% include './index_login.html' %}
            
        </div>
    </div>
</section>

{% endblock body_content %}