{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Askbootstrap">
    <meta name="author" content="Askbootstrap">
    {% block title %}
    <title>Base</title>
    {% endblock title %}
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="{% static 'home/img/favicon.png' %}">

    <!-- Bootstrap core CSS-->
    <link href="{% static 'home/css/bootstrap.min.css' %}" rel="stylesheet">
    

    <!-- Select2 CSS-->
    <link href="{% static 'home/css/select2.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static  'home/css/osahan.css' %}" rel="stylesheet">

    <!-- Fab Icon fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>

<body>

    {% include './navbar.html' %}

    

    {% block body_content %}

    {% endblock body_content %}



    {% include './footer.html' %}

    
    {% include './model_box.html' %}


    <!-- jQuery -->
    <script src="{% static 'home/js/jquery-3.3.1.slim.min.js' %}"></script>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'home/js/bootstrap.bundle.min.js' %}"></script>

    
    <!-- Select2 JavaScript-->
    <script src="{% static 'home/js/select2.min.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'home/js/custom.js' %}"></script>

</body>

</html>